@font-face {
  font-family: 'PTMono';
  src: url(./fonts/PTM55FT.ttf) format('truetype');
}

body {
	font-family: "PTMono";
	font-size: 2vw;
	font-weight: bold;
	color: green;
	text-shadow: 0 0 4px green;
	background-image: radial-gradient(
	rgb(0, 48, 0), black 120%
	);
	height: 0.8vh;
	scrollbar-color: rgb(0, 128, 0, 0.3) rgb(0, 0, 0, 0); 
}

.apo {
	position: absolute;
	z-index: 1;
	}

@media screen and (max-width: 700px){
	body{font-size: 7vw;}
  }