#wrapper{
    text-align: center;
    padding-top:5vh;  
}

#title{
    text-align: center;
}

#text{
    width: 70vw;
    margin: 1vh auto 5vh auto;
    font-size: 0.6em;
    text-align: left;
}

.button{
    display: inline;
}

.button:hover{
    cursor: pointer;
    background-color: green;
    color: black;
}

@media screen and (max-width: 700px){
    #text{
        width: 95%;
    }
}

@media screen and (max-width: 1200px){
    #text{
        width: 90%;
    }
}