.carriage {
    display: inline;
    -webkit-animation: blink 1.5s linear infinite;
    animation: blink 1.5s linear infinite;
}

@-webkit-keyframes blink {
    50% { 
        color: rgba(0, 48, 0, 0);
        text-shadow: 0 0 4px rgba(0, 48, 0, 0);    
    }
}
  @keyframes blink {
    50% { 
        color: rgba(0, 48, 0, 0);
        text-shadow: 0 0 4px rgba(0, 48, 0, 0);    
    }
}

.hiddenInput{
    position:absolute;
    z-index: -3;
    opacity: 0;
}

.input{    
    font-family: "PTMono";
    font-weight: bold;
    color: green;
    text-shadow: 0 0 4px green;
    background-color: transparent;
    color: inherit;
    outline: none;
}

.inputText{
    word-break: break-all;
}

.glitchText { 
    animation-duration: 0.01s;
    animation-name: textflicker;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes textflicker {
    from {
     text-shadow: 0 0 4px green;
    }
    to {
     text-shadow: 1px 0.5px 6px green;
     margin-left: 1px;
    }
    }