.message{
    font-size: 0.5em;
    width: 60%;
    padding: 0.5vw;
    background-color: rgba(0,0,0,0.3);
    border: 1px solid green;
}

.first{
    border-bottom: none;
    margin-top: 7px;
}

.middle{
    border-style: none solid none solid;
    border-radius: 0;
}

.last{
    border-style: none solid solid solid;
    margin-bottom: 7px;
}

.single{
    border-style: solid;
    margin: 7px 0;
}

.date{
    text-align: right;
    font-size: 0.5em;
}

.own{
    align-self: flex-end;
}

.outer{
    align-self: flex-start;
}

.unread{
    display:flex;
    flex-direction: column;
    background-color: rgba(75, 113, 237, 0.4);
}

.read{
    display:flex;
    flex-direction: column;

    animation-duration: 2.5s;
    animation-name: melting;
    animation-iteration-count: initial;
    animation-direction: alternate;

}

@keyframes melting {
    from {
        background-color: rgba(75, 113, 237, 0.4);
    }
    to {
        background-color: rgba(0, 128, 0 , 0);
    }
}