.dialog{
    font-size: 0.8em;
    margin: 1vh 0;
    cursor:pointer;
    background: rgba(0, 0, 0, .3);
    transition: background 0.3s, margin-left 0.3s;
    overflow:hidden;
    text-overflow: ellipsis;
}

.dialog:hover{
    background: rgba(28, 89, 221, 0.3);
    margin-left: 1vw;
}

.title{
    font-size: 0.8em;
}

.withNewMessage{
    background-color: rgba(0, 0, 255, 0.9);

    animation-duration: 1s;
    animation-name: newMessage;
    animation-iteration-count:infinite;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-timing-function:linear;
}

@keyframes newMessage {
    from {
        box-shadow: 0px 0px 15px rgba(0, 0, 255, 0.9) ;
    }
    to {
        box-shadow: 0px 0px 0px rgba(0, 0, 255, 0.3);
    }
}