.active{
    cursor: pointer;
    color:black;
    background-color: green;
    box-shadow: 0 0 4px green;
    text-shadow: 0 0 4px black;
}

.glitchText { 
    animation-duration: 0.01s;
    animation-name: textflicker;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes textflicker {
from {
 text-shadow: 0 0 4px green;
}
to {
 text-shadow: 1px 0.5px 6px green;
 margin-left: 1px;
}
}